[submodule "carbon-client-node"]
	path = docs/packages/carbon-client-node
	url = git@github.com:carbon-io/carbon-client-node.git
[submodule "docs/common"]
	path = docs/common
	url = git@github.com:carbon-io/docs-common.git
